@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-gBlue: #4285F4;
  --color-gRed: #EA4335;
  --color-gYellow: #FBBC05;
  --color-gGreen: #34A853;
  --color-neoBlack: #121212;
  --color-neoWhite: #F0F0F0;
  --color-neoDark: #1E1E1E;

  --shadow-neo: 4px 4px 0px 0px #000000;
  --shadow-neo-sm: 2px 2px 0px 0px #000000;
  --shadow-neo-lg: 8px 8px 0px 0px #000000;
  --shadow-neo-dark: 4px 4px 0px 0px #ffffff;

  --font-sans: "Space Grotesk", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neoWhite text-neoBlack dark:bg-neoDark dark:text-neoWhite font-sans transition-colors duration-300;
  }
}

/* Custom Utilities if needed */
.neo-card {
  @apply border-2 border-neoBlack shadow-neo bg-white dark:bg-neoDark dark:border-white dark:shadow-neo-dark;
}

.neo-btn {
  @apply px-6 py-3 font-bold border-2 border-neoBlack shadow-neo active:shadow-none active:translate-x-[4px] active:translate-y-[4px] transition-all;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}